---
label: 'Tracking and displaying popular content'
related:
- core.tracking_content
- history.tracking_user_content
- block.place
---
{% set statistics_settings_link_text %}{% trans %}Statistics{% endtrans %}{% endset %}
{% set permissions_link_text %}{% trans %}Permissions{% endtrans %}{% endset %}
{% set statistics_settings_link = render_var(help_route_link(statistics_settings_link_text, 'statistics.settings')) %}
{% set permissions_link = render_var(help_route_link(permissions_link_text, 'user.admin_permissions')) %}
{% set block_layout_link_text %}{% trans %}Block layout{% endtrans %}{% endset %}
{% set block_layout_link = render_var(help_route_link(block_layout_link_text, 'block.admin_display')) %}

<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Enable content viewing statistics and view the popular content block.{% endtrans %}</p>

<h2>{% trans %}What are content viewing statistics?{% endtrans %}</h2>
<p>{% trans %}The Statistics module can count how many times each piece of content on your site is viewed.
    It also provides a <em>Popular
      content</em> block that you can enable to display the most-viewed content.{% endtrans %}</p>

<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}Enable counting{% endtrans %}
    <ul>
      <li>{% trans %}In the <em>Manage</em> administrative menu, navigate to
          <em>Configuration</em> &gt;
          <em>System</em> &gt;
          <em>{{ statistics_settings_link }}</em>.{% endtrans %}</li>
      <li>{% trans %}Check <em>Count content views</em> and click <em>Save configuration</em>.{% endtrans %}</li>
    </ul>
  </li>

  <li>{% trans %}Allow display of counts to users{% endtrans %}
    <ul>
      <li>
        {% trans %}In the <em>Manage</em> administrative menu, navigate to
          <em>People</em> &gt;
          <em>{{ permissions_link }}</em>.
        {% endtrans %}</li>
      <li>{% trans %}Check <em>View content hits</em>
          under the Statistics menu for the desired roles,
          and click <em>Save permissions</em>.{% endtrans %}</li>
      <li>{% trans %}The Popular Content block will not be available if this is not checked.{% endtrans %}</li>
    </ul>
  </li>

  <li>{% trans %} Enable the block{% endtrans %}
    <ul>
      <li>{% trans %}In the <em>Manage</em> administrative menu, navigate to
          <em>Structure</em> &gt;
          <em>{{ block_layout_link }}</em>.
        {% endtrans %}</li>
      <li>{% trans %}Click <em>Place block</em>
          in the region where you want the block to appear (for example, <em>Sidebar second</em>).{% endtrans %}</li>
      <li>{% trans %}In the pop-up window, click <em>Place block</em> in the row of <em>Popular
          content</em>.{% endtrans %}</li>
      <li>{% trans %}In the <em>Configure block</em> pop-up, click <em>Save block</em>.{% endtrans %}</li>
      <li>{% trans %}Verify that the block is now listed in the correct region. When you visit the site, you should see the block, with a list of the content pages that are most popular.{% endtrans %}</li>
    </ul>
  </li>
</ol>
