parameters:
	ignoreErrors:
		-
			message: '#^Method Drupal\\imagemagick\\Hook\\ImagemagickHooks\:\:runtime\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Hook/ImagemagickHooks.php

		-
			message: '#^Method Drupal\\imagemagick\\Install\\Requirements\\ImagemagickRequirements\:\:checkRotateEffects\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Install/Requirements/ImagemagickRequirements.php

		-
			message: '#^Method Drupal\\imagemagick\\Install\\Requirements\\ImagemagickRequirements\:\:getRequirements\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Install/Requirements/ImagemagickRequirements.php

		-
			message: '#^Class Drupal\\imagemagick\\Plugin\\FileMetadata\\ImagemagickIdentify has an uninitialized readonly property \$eventDispatcher\. Assign it in the constructor\.$#'
			identifier: property.uninitializedReadonly
			count: 1
			path: src/Plugin/FileMetadata/ImagemagickIdentify.php

		-
			message: '#^Class Drupal\\imagemagick\\Plugin\\FileMetadata\\ImagemagickIdentify has an uninitialized readonly property \$execManager\. Assign it in the constructor\.$#'
			identifier: property.uninitializedReadonly
			count: 1
			path: src/Plugin/FileMetadata/ImagemagickIdentify.php

		-
			message: '#^Readonly property Drupal\\imagemagick\\Plugin\\FileMetadata\\ImagemagickIdentify\:\:\$eventDispatcher is assigned outside of the constructor\.$#'
			identifier: property.readOnlyAssignNotInConstructor
			count: 1
			path: src/Plugin/FileMetadata/ImagemagickIdentify.php

		-
			message: '#^Readonly property Drupal\\imagemagick\\Plugin\\FileMetadata\\ImagemagickIdentify\:\:\$execManager is assigned outside of the constructor\.$#'
			identifier: property.readOnlyAssignNotInConstructor
			count: 1
			path: src/Plugin/FileMetadata/ImagemagickIdentify.php

		-
			message: '#^Method Drupal\\imagemagick\\Plugin\\ImageToolkit\\ImagemagickToolkit\:\:apply\(\) has parameter \$arguments with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Plugin/ImageToolkit/ImagemagickToolkit.php

		-
			message: '#^Method Drupal\\imagemagick\\Plugin\\ImageToolkit\\ImagemagickToolkit\:\:buildConfigurationForm\(\) has parameter \$form with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Plugin/ImageToolkit/ImagemagickToolkit.php

		-
			message: '#^Method Drupal\\imagemagick\\Plugin\\ImageToolkit\\ImagemagickToolkit\:\:buildConfigurationForm\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Plugin/ImageToolkit/ImagemagickToolkit.php

		-
			message: '#^Method Drupal\\imagemagick\\Plugin\\ImageToolkit\\ImagemagickToolkit\:\:create\(\) has parameter \$configuration with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Plugin/ImageToolkit/ImagemagickToolkit.php

		-
			message: '#^Method Drupal\\imagemagick\\Plugin\\ImageToolkit\\ImagemagickToolkit\:\:getRequirements\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Plugin/ImageToolkit/ImagemagickToolkit.php

		-
			message: '#^Method Drupal\\imagemagick\\Plugin\\ImageToolkit\\ImagemagickToolkit\:\:getSupportedExtensions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Plugin/ImageToolkit/ImagemagickToolkit.php

		-
			message: '#^Method Drupal\\imagemagick\\Plugin\\ImageToolkit\\ImagemagickToolkit\:\:submitConfigurationForm\(\) has parameter \$form with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Plugin/ImageToolkit/ImagemagickToolkit.php

		-
			message: '#^Method Drupal\\imagemagick\\Plugin\\ImageToolkit\\ImagemagickToolkit\:\:validateConfigurationForm\(\) has parameter \$form with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Plugin/ImageToolkit/ImagemagickToolkit.php
